.head {
    background-image: url("../images/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    background-position: center;
    text-align: center;
    height: 80vh;
}

.service {
    background-image: url("../images/backgrounds/s_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
}

.port {
    width: 100%;
}

#logo {
    margin-top: 12px;
    margin-bottom: 30px;
    width: 60px;
    height: 60px;
}

.head h1 {
    padding: 3px;
    margin: 6px;
}

.head p {
    padding: 2px;
}

.mouse {
    padding-top: 200px;
}